#hashTags{
    overflow-y:hidden;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

#hashTags::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: grey;
}
body {
    background: white;
    font-size: 15px;
    overflow:hidden;
}
